.main-text{
    margin-top: 100px;
    padding-left: 30px;
}
.text-title{
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.5px;
    font-size: 3rem;
}
.text-para{
    font-family: "Noto Sans", sans-serif;
    letter-spacing: 0.5px;
    font-size: 20px;
}

header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerheader{
    background-image: linear-gradient(to top, #FFFFFF, #C60C30, #003478, #000000);
    color:white;
}
.img-fluid{
    height:200px !important;
}

.custom-clip {
    clip-path: xywh(0 5px 100% 75% round 15% 0);
}

/* Estado normal del botón */
.btn-dark {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    background-color: #002F6C; /* Azul claro suave */
    color: white; /* Texto blanco */
    border: none; /* Sin borde */
    font-weight: 600; /* Fuente en negrita */
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 0 49%, 0% 0%); /* Clip path inicial */
    display: inline-flex; /* Flexbox para alineación */
    align-items: center; /* Alineación vertical */
    transition: all 0.5s ease; /* Transiciones suaves */
}

.btn-dark:hover {
    background-color: #002F6C; /* Azul más oscuro al pasar el mouse */
    transform: scale(1.05); /* Aumento de tamaño al pasar el mouse */
    clip-path: polygon(88% 0, 100% 50%, 87% 100%, 0% 100%, 11% 50%, 0% 0%); /* Clip path al pasar el mouse */
}

.btn-dark:active {
    background-color: transparent; /* Azul claro aún más oscuro al hacer clic */
    transform: scale(0.95); /* Disminución de tamaño al hacer clic */
}

.btn-dark:before {
    content: url(); /* Icono temático de Corea */
    margin-right: 10px; /* Espacio entre el icono y el texto */
}

.btn-dark:after {
    margin-left: 10px; /* Espacio entre el texto y el emoji */
}


/* Estilizando los botones de control del carrusel */
.carousel-control-prev,
.carousel-control-next {
    width: 50px; /* Ancho de los botones */
    height: 50px; /* Alto de los botones */
    border-radius: 25px; /* Bordes redondeados */
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo con transparencia */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra */
    transition: all 0.3s ease; /* Transición suave */
    /* Alineación horizontal */
    position: absolute;
    top: 50%; /* Alinea desde la mitad superior del contenedor */
    transform: translateY(-50%); /* Centra verticalmente respecto a su posición */
}

/* Hover effect */
.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Cambia el color de fondo al pasar el ratón */
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8); /* Aumenta la sombra */
}

/*------------------------------------servicios-----------------------------------------*/
#seviciios {
    width: 100%;
    position: relative;
    padding: 50px 0 100px;
}

#servicios h2 {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.5px;
    color: #000;
    font-size: 40px;
    font-weight: 700;
}

#servicios p {
    font-family: "Noto Sans", sans-serif;
    letter-spacing: 0.5px;
    color: #a39e9e;
    font-size: 24px;
}

#servicios .row {
    padding-top: 70px;
}

#servicios .card-services {
    background: #292c36;
    border-radius: 4px;
    position: relative;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    transition: .4s;
    max-width: 250px;
    margin: 0 auto;
    margin-bottom: 50px;
}

#servicios .card-services:hover{
    background-color: #002F6C;
}

#servicios .card-services img {
    background-color: white;
    width: 25%;
    padding: 15px;
    border-radius: 4px;
    position: absolute; /*esto desbloquea la imagen para que se pueda mover libremente, se necesita tener el position relative de arriba para poder hacer esto*/
    top: -40px;
    left: 35px;
}

#servicios .card-services h3{
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.5px;
    text-align: right;
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}

#servicios .card-services h4 {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.5px;
    color: white;
    font-weight: 600;
    font-size: 25px;
    text-align: left;
    margin-bottom: 15px;
}

#servicios .card-services p {
    font-family: "Noto Sans", sans-serif;
    letter-spacing: 0.5px;
    font-size: 18px;
    text-align: left;
    line-height: 30px;
    margin-bottom: 15px;
}

#servicios .card-services a{
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.5px;
    color: white;
    text-align: left;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    border-bottom: 2px solid white;
}


/*------------------------------------servicios-----------------------------------------*/

/*------------------------------------swiper-----------------------------------------*/
#destinos {
    position: relative;
    height: 100%;
    background: linear-gradient(to bottom, #FFFFFF, #C60C30, #003478, #000000);
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

#destinos h3 {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.5px;
    color: #000; 
    font-size: 40px;
    font-weight: 700;
}

#destinos h5 {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.5px;
    color: #000; 
    font-size: 22px;
    font-weight: 700;
}

#destinos .subtitulodestino {
    font-family: "Noto Sans", sans-serif;
    letter-spacing: 0.5px;
    color: white;
    font-size: 24px;
}

#destinos p {
    font-family: "Noto Sans", sans-serif;
    letter-spacing: 0.5px;
    font-size: 14px;
}

#destinos a{
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.5px;
    color: black;
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    border-bottom: 2px solid black;
}

swiper-container {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 150px;
}

swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

swiper-slide img {
    display: block;
    width: 100%;
}

.card{
    border-radius: 25px;
    padding: 10px;
}
.card-img-top{
    border-radius: 25px;
}
/*------------------------------------swiper-----------------------------------------*/


/*------------------------------------audio-----------------------------------------*/
#audio h2{
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.5px;
    color: #000; 
    font-size: 40px;
    font-weight: 700;
}

#audio .subtituloaudio {
    font-family: "Noto Sans", sans-serif;
    letter-spacing: 0.5px;
    color: #a39e9e;
    font-size: 20px;
}


#audio p {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.5px;
    color: #000; 
    font-size: 30px;
    font-weight: 700;
}



/*
.audioimg1 {
    background-color: white;
    width: 50%;
    padding: 15px;
    border-radius: 4px;
    position: absolute; 
    top: -120px;
    left: 300px;
} 


.audioimg2 {
    background-color: white;
    width: 25%;
    padding: 15px;
    border-radius: 4px;
    position: absolute; 
    top: -50px;
    left: -50px;
}

.audioimg3 {
    background-color: white;
    width: 25%;
    padding: 15px;
    border-radius: 4px;
    position: absolute; 
    top: -50px;
    left: -50px;
}

*/

.border-green{
    border: 7px solid #002F6C;
}

.text-green{
    color: #B51036;
}


/*------------------------------------audio-----------------------------------------*/

/*------------------------------------video-----------------------------------------*/

.titulovideo {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.5px;
    color: #000;
    font-size: 40px;
    font-weight: 700;
}

.parrafovideo {
    font-family: "Noto Sans", sans-serif;
    letter-spacing: 0.5px;
    color: #8c8989;
    font-size: 24px;
}

/*------------------------------------viddeo-----------------------------------------*/

/*------------------------------------mapa-----------------------------------------*/
.text-titlemapa{
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    letter-spacing: 0.5px;
    font-weight: 700;
}
/*------------------------------------mapa-----------------------------------------*/


/*------------------------------------suscripcion-----------------------------------------*/
.text-titlesub{
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    letter-spacing: 0.5px;
    font-weight: 600;
}




.seccionInscripcion {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/Bukchon.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 550px;
    background-attachment: fixed;
}

.seccionInscripcion h2 {
    padding-top: 100px;
    font-family: "Noto Sans", sans-serif;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    font-size: 24px;
}


.email {
    width: 200px; 
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    outline: none;
}

.botonenviar {
    padding: 10px 20px; 
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    font-size: 16px; 
    font-weight: bold;
}

/*------------------------------------suscripcion-----------------------------------------*/

/*----------------------------------------footer---------------------------------*/



/*----------------------------------------footer---------------------------------*/

/*----------------------------------------CHAT WHATAPP forma 2---------------------------------*/

.container-botonws {
    background-color: rgb(4,187,57); 
    border: none; 
    position: fixed;
    z-index: 1000;
    border-radius: 50%;
    bottom: 20px;
    right: 25px;
    padding: 5px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}

.container-botonws:hover {
    transform: scale(1.1);
    transition: 0.3s;
}


/*efecto de animación imagen chat*/

.botonws {
    width: 60px;
    transition: ease 1s;
}

@keyframes efecto {
    0% {
        box-shadow: 0 0 0 0 rgba(4, 187, 57, 0.85);
    }
    100% {
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
}
/*termina CHAT WHATAPP forma 2*/



/*------------------------------------boton scrolltop-----------------------------------------*/

#scrollToTopBtn {
    display: none; /* Inicialmente oculto */
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 99;
    background-color: transparent;
    color: red;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    padding: 10px 20px;
    font-weight: bolder;
    font-size: 40px;
}

#scrollToTopBtn:hover {
    color: black;
}

/*------------------------------------boton scrolltop-----------------------------------------*/


/*------------------------------------Redes Sociales-----------------------------------------*/
.social-icons {
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    margin-right: 15px;
    transition: transform 0.3s ease-in-out;
}

.social-icons a:hover {
    transform: scale(1.1);
}

.social-icons .instagram-icon:hover i {
    color: #ff0080; /* Color de Instagram al pasar el mouse */
}

.social-icons .facebook-icon:hover i {
    color: #4267B2; /* Color de Facebook al pasar el mouse */
}

.social-icons .twitter-icon:hover i {
    color: #00acee; /* Color de Twitter al pasar el mouse */
}

.social-icons i {
    font-size: 30px;
    color: #333; /* Color de los iconos */
}
/*------------------------------------Redes Sociales-----------------------------------------*/

/*---------------------------------------------Estilos para el footer------------------------------------*/
footer.container-fluid {
    position: relative; /* Fijar el footer en la parte inferior */
    bottom: 0; /* Colocar el footer al final de la página */
    width: 100%; /* Ancho completo del footer */
    display: flex; /* Usar flexbox para centrar verticalmente el contenido */
    justify-content: center; /* Centrar horizontalmente el contenido */
    align-items: center; /* Centrar verticalmente el contenido */
    padding: 20px 0; /* Espaciado interior del footer */
    z-index: 9999; /* Asegurar que el footer esté por encima de otros elementos */
}

a {
    font-weight: bolder;
}

footer.container-fluid ul {
    list-style: none; /* Eliminar los estilos de lista predeterminados */
    margin: 0; /* Eliminar el margen */
    padding: 0; /* Eliminar el relleno */
}

footer.container-fluid ul li {
    display: inline; /* Mostrar los elementos de lista en línea */
    margin: 0 10px; /* Agregar un margen entre los elementos de lista */
    color: #000; /* Color del texto */
    font-size: 14px; /* Tamaño de fuente */
}

footer.container-fluid ul li a {
    color: #000; /* Color del texto del enlace */
    text-decoration: none; /* Eliminar el subrayado del enlace */
}

footer.container-fluid ul li a:hover {
    color: #00469B;
}