/*Opens sans para texto de cuerpo y Playfair display para titulos y encabezados*/

/*********************  MENU NAV ******************************/
.logo img {
    width: 80px; /* Cambia el tamaño de la imagen */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1); /* Aplica un efecto de sombra */
    border-radius: 0.5rem;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 1.5px;
    color: #000;
    font-family: 'playfair display', sans-serif;
    font-size: 1px;
}

.optmenu {
    font-family: 'playfair display', sans-serif;
    font-size: 1rem;
    color: #000 !important;
    font-weight: bolder;
    font-size: 18px;
}

.optmenu:hover {
    color: white !important;
    border-radius: 30px;
}

.optmenu:active {
    color: #000;
}

/* PERSONALIZACION MENU HAMBURGUESA */

.navbar-toggler {
    background-color: transparent;
    border: transparent;
}

.navbar-toggler:hover {
    background-color: transparent;
}

.custom-toggler.navbar-toggler {
    border-color: #fff;
}

/* PERSONALIZACION MENU HAMBURGUESA */

/* PERSONALIZACION lineas HAMBURGUESA */
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }         
.custom-toggler .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }   


.banner-section {
    background-color: #d4af37;
}

/*********************  MENU NAV ******************************/

/*********************  HEADER ******************************/
.banner1 {
    display: flex;
    align-items: center;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    /*control altura del banner*/
    height: calc(100vh);
    background-position: center;
    background-image: url('img/banner1.jpg');
    background-color: gray;
    background-blend-mode: multiply;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

.espacio {
    padding: 120px 0;
}

.textbanner{
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'open sans', sans-serif;
}

.btn-outline-warning {
    background-color: transparent;
    border: 2px solid #ffc107;
    color: #ffc107;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
    font-family: 'playfair display', sans-serif;
}
.btn-outline-warning:hover {
    background-color: #ffc107;
    color: black;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}
.btn-outline-warning:active {
    transform: scale(0.95);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/*********************  HEADER ******************************/


/********************* nosotros ******************************/
.textus{
    font-size: 16px;
    font-family: 'open sans', sans-serif;
    letter-spacing: 1px;
    text-align: left !important;
    margin-top: 15px;
}

/* Contenedor de la imagen */
.img-container {
    position: relative;
    overflow: hidden;
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Estilo de la imagen */
.img-container img {
    width: 100%; /* Ajusta la imagen al contenedor */
    height: auto;
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
}

.img-container:hover img {
    transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta la sombra al pasar el mouse */
}

/* Estilo de un posible título o leyenda */
.img-container .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.6); /* Fondo semi-transparente */
    color: white;
    text-align: left;
    font-family: 'playfair display', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    display: none; /* Oculto por defecto */
}

.img-container:hover .caption {
    display: block; /* Muestra la leyenda al pasar el mouse */
}
/********************* nosotros ******************************/

/********************* cursos ******************************/
.row {
    display: flex;
    justify-content: center;
}

.price-table {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.price-table:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.price-table h2 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    letter-spacing: 1px;
    color: #2c3e50;
}

.price-table p {
    font-size: 16px;
    color: #7f8c8d;
    text-align: left;
}

.textcurso{
    font-size: 16px;
    font-family: 'open sans', sans-serif;
    letter-spacing: 1px;
    text-align: left !important;
    margin-top: 15px;
}

a {
    text-decoration: none;
}

.price-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

/********************* cursos ******************************/

/*********************  Contacto ******************************/
.container-fluidcontacto{
    background-color: #0C422A;
}

.textcontact{
    font-size: 16px;
    font-family: 'open sans', sans-serif;
    letter-spacing: 1px;
}

/*-----------------------------------redes sociales------------------------------------*/
.social-icons {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 20px;
    margin-top: 20px;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FDBB2F;
    color: #000; /* Cambio a color blanco */
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.social-icons a:hover {
    background-color: black;
    color: white;
}

.social-icons i {
    font-size: 24px;
}
/*-----------------------------------redes sociales------------------------------------*/

/*-----------------------------------enlaces------------------------------------*/
.enlaces {
    color: #fff; /* Color del texto */
    text-decoration: none; /* Quita el subrayado de los enlaces */
    display: block; /* Convertir enlaces en bloques para que ocupen todo el ancho */
    margin-top: 20px; /* Espacio superior entre enlaces */
    transition: color 0.3s ease; /* Transición suave del color del texto */
}

/* Cambio de color al pasar el ratón sobre los enlaces */
.enlaces:hover {
    color: #FDBB2F; /* Color del texto al pasar el ratón */
}

/*-----------------------------------enlaces------------------------------------*/

/*-----------------------------------texto redes------------------------------------*/
.containerface,
.containerwhat,
.containermail,
.containerinsta {
    display: flex;
    align-items: center;
}

.textoredes {
    font-family: 'open sans', sans-serif;
}


/*--------------------------------------formulario de contacto----------------------------------------------------*/


/*etiquetas*/
label{
    font-family: 'playfair display', sans-serif;
    color: white;
    margin-top: 20px;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: bolder;
}


/* permite saber en que campo se va a ubicar el usuario*/
input:hover{
    outline: 3px solid #d4af37;
}

textarea:hover{
    outline: 3px solid #d4af37;
}

/* Propiedades de los campos */

input,
textarea {
    cursor: pointer;
    background-color: #e2e2e2 !important;
}


/* Propiedades de los botones */

.enviar{
    font-family: 'playfair display', sans-serif;
    border-radius: 10px;
    color: #fff;
    margin: 0 auto;
    font-size: 20px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px 20px;
    border-width: 2px;
    border-color: #e7cdf5;
    background-color: #294A3C !important;
    letter-spacing: 1px;
}

/* validacion campo TextArea */
textarea{
    resize: none;
}

/*--------------------------------------formulario de contacto----------------------------------------------------*/

/*********************  Contacto ******************************/

/*-----------------------------------footer------------------------------------*/
footer {
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'playfair display', sans-serif;
    background-color: #000;
}